<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:P="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Movie DataBase</title>
</h:head>
<body>
<h:form>
    <p:dataTable id="movieTable" value="#{movieManagedBean.movieList}" var="series" paginator="true" rows="10"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 rowsPerPageTemplate="5,10,100">

        <p:column headerText="Title" sortBy="#{series.title}" filterBy="#{series.title}" filterMatchMode="contains">
            <P:outputText value="#{series.title}"/>
        </p:column>

        <p:column headerText="Actor" sortBy="#{series.actor.name}" filterBy="#{series.actor.name}"
                  filterMatchMode="contains">
            <P:outputText id="actorName" value="#{series.actor.name}"/>
            <p:tooltip for="actorName" position="left" showEffect="clip" hideEffect="explode"
                       value="As #{series.actor.role}"/>
        </p:column>

        <p:column headerText="Sequel" sortBy="#{series.sequel}" filterBy="#{series.sequel}" filterMatchMode="contains">
            <P:outputText value="#{series.sequel}"/>
        </p:column>

        <p:column headerText="Release Date" sortBy="#{series.releaseDate}" filterBy="#{series.releaseDate}"
                  filterMatchMode="contains">
            <P:outputText value="#{series.releaseDate}">
                <f:convertDateTime pattern="YYYY-MM-DD"/>
            </P:outputText>
        </p:column>

        <p:column headerText="Rating" sortBy="#{series.rating}" filterBy="#{series.rating}" filterMatchMode="contains">
            <p:rating id="ratingId" value="#{series.rating}" readonly="true"/>
            <p:tooltip for="ratingId" value="#{series.rating} Stars" showEffect="clip" hideEffect="explode"/>
        </p:column>
        <p:column headerText="TVform" sortBy="#{series.seriesForm.title}" filterBy="#{series.seriesForm.title}"
                  filterMatchMode="contains">
            <P:outputText id="seasons" value="#{series.seriesForm.title}"/>
            <p:tooltip for="seasons" position="left" showEffect="clip" hideEffect="explode"
                       value="Number of Seasons: #{series.seriesForm.seasons}"/>
        </p:column>
        <p:column headerText="Delete">
            <p:growl id="growl" life="2000"/>
            <p:commandButton value="Delete" action="#{movieManagedBean.delete(series.id)}" update="growl @form"
                             actionListener="#{movieManagedBean.deleteButton}" process="@this">
                <p:confirm header="Confirmation" message="Delete #{series.title}?"/>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                </p:confirmDialog>

            </p:commandButton>
        </p:column>
        <p:column headerText="Modify">
            <p:commandButton value="Modify" action="#{movieManagedBean.modify(series.id)}" update="@form"
                             process="@this"/>
        </p:column>
    </p:dataTable>
    <div align="center">

        <p:panelGrid columns="6">

            <h:outputText value="Title"/>
            <p:inputText id="Title" value="#{movieManagedBean.selectedMovie.title}"
                         placeholder="e.g. The Avengers"/>

            <h:outputText value="Actor"/>
            <p:selectOneMenu id="Actor" value="#{movieManagedBean.selectedMovie.actor}" filter="true"
                             filterMatchMode="startsWith" converter="#{actorConverter}">
                <f:selectItem itemValue="#{null}" itemLabel=""/>
                <f:selectItems var="act" value="#{movieManagedBean.actorList}" itemLabel="#{act.name}"
                               itemValue="#{act}"/>
            </p:selectOneMenu>

            <h:outputText value="Sequel"/>
            <p:inputText id="Sequel" value="#{movieManagedBean.selectedMovie.sequel}"
                         placeholder="e.g. Age of Ultron"/>

            <h:outputText value="Release Date"/>
            <p:calendar id="date" value="#{movieManagedBean.selectedMovie.releaseDate}" mask="9999-99-99"
                        pattern="yyyy-mm-dd"/>


            <h:outputText value="Rating"/>
            <p:rating value="#{movieManagedBean.selectedMovie.rating}" stars="5"/>

            <h:outputText value="TV Series of Movie"/>
            <p:selectOneMenu id="Series" value="#{movieManagedBean.selectedMovie.seriesForm}" filter="true"
                             filterMatchMode="startsWith" converter="#{seriesConverter}">
                <f:selectItem itemValue="#{null}" itemLabel=""/>
                <f:selectItems var="item" value="#{movieManagedBean.tvSeriesEntityList}" itemLabel="#{item.title}"
                               itemValue="#{item}"
                />
            </p:selectOneMenu>
        </p:panelGrid>
        <p:growl id="growl2" life="2000"/>
        <p:commandButton value="Save" action="#{movieManagedBean.save(movieManagedBean.selectedMovie)}"
                         update="growl2 @form" actionListener="#{movieManagedBean.saveButton}" validateClient="true"
        />


    </div>
</h:form>
<!-- Logout gomb -->
<h:form onsubmit="this.action='#{request.contextPath}/logout';"
        class="logout-form">
    <p:commandButton value="Logout" ajax="false"/>
</h:form>
<h:form>
    <div align="center">
        <p:commandButton value="Switch To TV Series Database" action="tvdb.xhtml" process="@this"/><br/>
        <p:commandButton value="Switch To Actor Database" action="actor.xhtml" process="@this"/>
    </div>
</h:form>
</body>
</html>