<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions" xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
    <title>Login</title>
    <!-- Másik módja annak hogy egy már bejelentkezett felhasználót redirecteljünk a login.xhtmlről -->
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.onPageLoad}"/>
    </f:metadata>
    <!--  Egy módja annak hogy hogyan dobjuk át a usert a login oldalról az indexre ha már be van lépve.
    <sec:authorize access="isAuthenticated()">
        <meta http-equiv="refresh" content="0;url=http://localhost:8080/index.xhtml" />
    </sec:authorize>-->
</h:head>

<h:body>
    <h:form prependId="false">

        <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
            <h2>Please login</h2>

            <p:outputLabel value="Login failed!" styleClass="red"
                           rendered="${!empty param['error']}" />

            <p:inputText id="username" placeholder="User name" />
            <p:password id="password" placeholder="Password" />

            <p:commandButton value="Login" ajax="false" />
        </p:panelGrid>

    </h:form>
</h:body>
</html>
